        * {
            padding: 0;
            margin: 0;
        }

        td:hover {
            opacity: 0.8;
        }

        body {
            overflow: hidden;
        }

        td {
            padding: 3px;
        }

        table {
            border-collapse: collapse;
        }

        td {
            position: relative;
        }
        nav {
            width: 100%;
            height: 54px;
            background-color: #222;
            bottom:0px;
            left:0px;
            margin: 0 auto;
            position: relative;
            color: white;

        }
        .XD{
            width: 2px;
            height: 2px;
            background-color: black;
            display: block;
        }
        ul {
            width: 70%;
            margin: 0 auto;
             list-style-type: none;
            display: block;
        }
        .shop_dialog{
            width: 60%;
            height: 50%;
            background-color: #222;
            position: absolute;
            left: 20%;
            top: 25%;
            z-index: 4;
        }
        .shop_header {
            font-size: 25px;
            font-family: monospace;
            color: white;
            text-align: center;
            padding: 10px;
        }
        .exit {
            width: 50px;
            height: 50px;
            right: 0;
            top: 0;
            background-color: red;
            position: absolute;
        }
        ul li {
            display: block;
                        width: 54px;
                        height: 54px; float: left;
                        margin-left: 5px;
                     background-color: green;
        }
        #boat {
            background-color: red;
            
        }
        table {
            border-bottom: 2px solid black;
        }
        #current_land {
            position: absolute;
            right: 0px;
            top: 20%;
            right: 10%;
            font-size: 25px;
            font-family: monospace;
        }
        .money_bar {
            width: 50px;
            height: 50px;
            background-color: green;
            position: absolute;
            right: 10%;

        }